.product{
  display: flex;
  border-bottom: 1px solid gray;
  margin: 0 5px 5px 0;
  padding: 0 0 5px 0;
}
.product img{
  width: 250px;
}
.product-name{
  color: blue;
  font-weight: 400;
}
.main-btn{
  background-color: goldenrod;
  width: 140px;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid darkgray;
  cursor: pointer;
}